:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --border-neutral: oklch(0.86 0 0);
  --border-container: oklch(0.9 0 0);
  --border-container-active: oklch(0.62 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --success: oklch(0.45 0.15 145);
  --error: oklch(0.5 0.2 25);
}

.dark {
  --background: oklch(0.18 0.02 255);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.21 0.02 255);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.21 0.02 255);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.62 0.2 276);
  --primary-foreground: oklch(0.98 0.02 255);
  --secondary: oklch(0.25 0.02 255);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.25 0.02 255);
  --muted-foreground: oklch(0.72 0.02 255);
  --accent: oklch(0.25 0.02 255);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.48 0.18 25);
  --destructive-foreground: oklch(0.95 0.04 25);
  --border: oklch(0.28 0.02 255);
  --border-neutral: oklch(0.34 0.02 255);
  --border-container: oklch(0.3 0.02 255);
  --border-container-active: oklch(0.7 0.02 255);
  --input: oklch(0.28 0.02 255);
  --ring: oklch(0.62 0.2 276);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.2 0.02 255);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(0.62 0.2 276);
  --sidebar-primary-foreground: oklch(0.98 0.02 255);
  --sidebar-accent: oklch(0.25 0.02 255);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.28 0.02 255);
  --sidebar-ring: oklch(0.62 0.2 276);
  --success: oklch(0.74 0.16 145);
  --error: oklch(0.68 0.2 25);
}
